<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="static/tables.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">Traveasy</a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            
            <li>
            <!--<li class="nav-item">
              <a class="nav-link" href="travelrequest">Travel Request</a>
            </li> -->
            <button class="btn btn-sm btn-outline-secondary" onclick="window.location.href='/views';" type="button">Go back</button>
            </li>
           </ul>
        </div>
       
      </nav>
    <table>
        <thead>
            <tr>
              <th scope="col">Expense ID:</th>
              <th scope="col">City:</th>
              <th scope="col">Category:</th>
              <th scope="col">Vendor:</th>
              <th scope="col">Amount:</th>
              <th scope="col">Expense date:</th>
              <th scope="col">Trip no:</th>
            </tr>
          </thead>
        {% for y in oexp %}
        <tr>
            <td> {{ y[0] }} </td>
            <td> {{ y[1] }} </td>
            <td> {{ y[2] }} </td>
            <td> {{ y[3] }} </td>
            <td> {{ y[4] }} </td>
            <td> {{ y[5] }} </td>
            <td> {{ y[6] }} </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>