<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outstation Expense</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="static/styles.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Traveasy</a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <!--<li class="nav-item">
              <a class="nav-link" href="travelrequest">Travel Request</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="#">Help</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Feedback</a>
            </li>
            <li class="nav-item">
                <h4>Hello {{ person }}!</h4>
            </li>
           </ul>
        </div>
        <button class="btn btn-sm btn-outline-secondary" id="outbt" type="button" onclick="window.location.href='/logout';">Log Out</button>
      </nav>

      <form action="/outexp" method="POST">
        <h3>Enter Outstation expense details:</h3>
        <p>Expense ID:<input type="text" name='expid'></p>
        <p>City:<input type="text" name='city'></p>
        <p>Category:<input type="text" name='cat'></p>
        <p>Vendor:<input type="text" name='vend'></p>
        <p>Amount:<input type="text" name='amt'></p>
        <p>Expense Date:<input type="date" name='edate'></p>
        <p>Trip No:<input type="text" name='tripno'></p>
        <button type="submit" class="btn btn-primary">Add Expense</button>
      </form>
</body>
</html>